<!doctype html>

<html lang="en">
<head>
  <title>Flask Yo</title>
  <meta name="myKey" content="myValue">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>{{banner_msg}}</h1>
  <div class="empty">
  </div>
  <div class="container">
    <div class="center">
      <button id = "button" onclick="toggle()">its button</button>
    </div>
  </div>

  <div class="container">
    <div class="toggle" id="tmp">
      <p>this is toggled text</p>
    </div>
  </div>

  <p id = "para"></p>


  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

